/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/05/2017, 09:35:45 AM
    Author     : Ruben D
*/

*{
    margin: 0px;
    font-family: 'lato', sans-serif;
    box-sizing: border-box;
    padding: 0px;
}

body{
    overflow-x: hidden;
    background: #F2F0F1;
}

header{
    position: absolute;
    width: 100%;
    background: rgba(4, 0, 0, 0.42) !important;
}

.centrar{
    margin-right: auto;
    margin-left: auto;
}

.logo{
    padding: 3px 3px 3px 50%;
    width: 212px;
    margin-left: -90px;
    float: left
}

.logo img{
    height: 60px;
}

.img-logo:hover{
    cursor: pointer;
}

.img-slider img{
    margin-left: -35%;
    height: 650px;
}

.img-fondo img{
    margin-left: -35%;
    height: 1050px;
}

.cuenta{
    float: right;
    color: #FFFFFF;
}

.cuenta ul li{
    list-style: none;
    float: left;
    padding: 25px;
}

.cuenta ul li:hover{
    border-bottom: 1px solid;
    cursor: pointer;
}

.subM{
    display: none;
}

.icon-menu{
    display: block;
}

.sub-menu{
    position: absolute;
    width: 100%;
    margin-top: 69px;
    background: rgba(255, 255, 255, 0.9) !important;
    display: none;
}

.sub-menu ul li, .menu-desplegable ul li{
    padding: 10px; 
    text-align: center;
    color: #514c4c;
}

.sub-menu ul li:hover, .menu-desplegable ul li:hover{
    color: #0088CC;
    cursor: pointer;
}

.login{
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 20px 0px;
    background: #FFFFFF;
    display: none;
}

.cont-login{
    margin-top: 0px !important;
}

.contenedor-login{
    width: 90%;
}

.inputBtn{
    padding: 5px;
    width: 80%;
}

.input{
    padding: 5px;
}

.input input, .inputBtn input, .input select{
    width: 100%;
    padding: 5px;
}

.btn-primario{
    background: #e8ad00;
    border-color: #e8ad00;
    color: #FFFFFF;
    font-weight: bolder;
    letter-spacing: 0.5px;
}

.btn-primario:hover{
    background: #FFBF00;
    border-color: #FFBF00;
    cursor: pointer;
}

.btn-secundario{
    border: 1px solid #FFFFFF;
    background: rgba(4, 0, 0, 0.42);
    color: #FFFFFF;
    font-weight: bolder;
    letter-spacing: 0.5px;
}

.btn-secundario:hover, .acciones ul li:hover, .menu-busquedas div ul li:hover{
    background: #328fd6;
    cursor: pointer;
}

.itemMenu-seleccionado{
    background: #328fd6;
}

.input2{
    padding: 5px;
}

.input2 input{
    width: 70%;
    padding: 5px;
}

.margen-top{
    margin-top: 20px;
}

.margen-top2{
    margin-top: 69px;
}
.busqueda{
    position: absolute;
    z-index: 1;
    top: 60%;
    width: 100%;
    padding-bottom: 20px;
    background: rgba(4, 0, 0, 0.42) !important;
}

.busqueda .titulo{
    color: #FFBF00;
}

.titulo h1{
    font-family: Gabriola;
    font-size: 44px;
}

.select, .registrar{
    width: 90%;
}

.registrar{
    margin-top: 30%;
    padding: 20px;
    text-align: center;
    background: rgba(4, 0, 0, 0.42) !important;
}

.registrar .titulo{
    font-family: Gabriola;
    font-size: 44px;
    color: #FFBF00;
}

.registrar .descripcion{
    color: #FFFFFF;
    text-align: justify;
}

.registrar .btn{
    padding: 20px 0px;
}

.form-registro{
    display: none;
    border-top: 1px solid #FFFFFF;
}

.select select{
    width: 100%;
    padding: 8px;
    color: #1c2b36;
}

.contBusqueda{
    width: 100%;
}

.img-fondo{
    position: absolute;
    z-index: 0;
}

.front{
    position: absolute;
    z-index: 1;
}

.contenedorPrincipal{
    margin-top: 69px;
    width: 100%;
}

.menu-desplegable{
    background: rgba(255, 255, 255, 0.9) !important;
    display: none;
}

.msgEmergente{
    margin: 5px 5px -5px 5px;
    display: none;
    padding: 5px;
    text-align: justify;
    color: white;
    font-weight: bold;
    background: rgba(255, 0, 0, 0.42) !important;
}

.msgRespuesta{
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 15px;
}

.paddingTop1{
    padding-top: 69px;
}

.contenedor-acciones, .contenedor, .acciones, .mostrarMenu{
    float: left;
}

.contenedor-acciones, .acciones{
    height: 600px;
    color: #FFFFFF;
}

.contenedor-acciones{
    position: absolute;
}

.menu-busquedas{
    width: 18%;
    float: left;
}

.contenedor-busquedas{
    width: 82%;
    float: left;
}

.menu-busquedas div{
    width: 100%;
    color: #FFFFFF;
    height: 600px;
}

.menu-busquedas span{
    font-size: 20px;
    margin-right: 10px;
}

.contenedor-busquedas{
    width: 82%;
    padding: 20px;
}

.smAccion{
    display: none;
}

.menu-busquedas li{
    text-align: center;
}

.acciones{
    width: 230px;
    display: none;
}

.acciones ul, .menu-busquedas div ul{
    padding-top: 20px;
}

.acciones ul li, .menu-busquedas div ul li{
    padding: 12px 5px 12px 15px;
}

.contenedor{
    width: 100%;
    padding: 20px;
}

.mostrarMenu{
    width: 13px;
    text-align: center;
    height: 200px;
    padding-top: 90px;
    background: gray;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 11px;
    margin-top: 15%;
}

.colTransFuerte{
    background: rgba(4, 0, 0, 0.82) !important;
}

.muniPrincippal, .muniOpcion{
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    background: #FFFFFF;
}

.contenedor-tabla{
    overflow: auto;
    white-space: nowrap;
}

table{
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}

table thead tr{
    background: #328fd6;
    color: #FFFFFF;
}

table tr th, table tr td{
    border-bottom: 1px solid #328fd6;
    padding: 10px 20px;
    text-align: center;
}

.municipio{
    padding: 5px 20px 5px 5px;
}

.opciones span{
    padding: 0px 5px;
}

.opciones span:hover{
    cursor: pointer;
}

legend{
    padding: 5px;
    color: #e8ad00;
    font-weight: bold;
}

.ocultar{
    display: none;
}

.margenInferior{
    margin-bottom: 10px;
}

.txtDesc{
    width: 100%;
    height: 200px;
}

.tarjeta{
    width: 100%; 
    background: white; 
    border-radius: 5px;
    padding: 7px;
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,1);
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,1);
}

.tituloDesc, .descripcionDesc{
    margin-top: 15px;
}

.foto, .precioUrlTarjeta{
    height: 200px;
}

.foto img{
    width: 100%;
    height: 100%;
}

.centrarContenido{
    text-align: center;
    padding: 10px;
}

@media screen and (min-width: 480px){
    .input2 input{
        width: 45%;
    }
    
    .cont-form-reg{
        width: 90%;
    }
    
    .img-fondo img{
        height: 850px;
    }
    
    .registrar{
        float: left;
        width: 46%;
        margin-left: 4%;
    }
}

@media screen and (min-width: 767px){
    .img-slider img, .img-fondo img{
        margin-left: 0%;
    }
    
    .subM{
        display: block;
    }
    
    .icon-menu{
        display: none;
    }
    
    .login{
        margin-top: 69px;
        width: 37%;
        display: block;
        left: 100%;
        margin-left: -37%;
        display: none;
    }
    
    .contBusqueda, .busqueda{
        width: 80%;
    }
    
    .contenedor-acciones{
        position: initial;
        width: 230px;
    }
    
    .acciones{
        display: block;
    }
    
    .mostrarMenu{
        display: none;
    }
    
    .contenedor{
        width: 69%;
    }
    
    .contenedor-acciones, .acciones{
        height: 600px;
    }
    
    .foto{
        float: left;
        width: 30%;
    }
    
    .descTarjeta{
        width: 70%;
        float: left;
        padding: 10px;   
        margin-top: 0px;
    }
    
    .tituloDesc{
        margin-top: 0px;
    }
}

@media screen and (min-width: 850px){
    .smAccion{
        display: initial;
    }
    
    .menu-busquedas li{
        text-align: initial;
    }
}

@media screen and (min-width: 1100px){
    .img-slider img, .img-fondo img{
        width: 100%;
        height: initial;
    }
    
    .registrar{
        margin-top: 20%;
        width: 40%;
        margin-left: 7%;
    }
    
    .login{
        width: 21%;
        margin-left: -21%;
    }
    
    .cont-login{
        width: 21%;
    }
    
    .contBusqueda, .busqueda{
        width: 60%;
    }
    
    .busqueda{
        top: 45%;
    }
    
    .cont-form-reg{
        width: 80%;
    }
    
    .contenedor{
        width: 78%
    }
    
    .muniPrincippal, .muniOpcion{
        float: left;
        margin: 1%;
    }
    
    .muniPrincippal{
        width: 56%;
    }
    
    .muniOpcion{
        width: 40%;
    }
}

@media screen and (min-width: 1300px){
    .foto{
        width: 25%;
    }
    
    .descTarjeta{
        width: 75%;
    }
}

